# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# setuptools_scm generated version file
src/gwresults/_version.py

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Docs
docs/_build/
docs/_autosummary/

# Virtual environments
.venv/
venv/
env/

# Editors
.vscode/
.idea/
*~

# OS
.DS_Store
